*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 14vh, #dbdbd2 0px, #dbdbd2 20vh);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;

}

main{
    margin: auto;
}

.container{
    width: 100%;
    height: 100vh;
    min-width: 1000px;
}

.main-block{
    width: 100%;
    height: 900px;
}

.contacts{
    width: 35%;
    height: 100%;
}

.small-avatar{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.big-avatar{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.black-text{
    color: black;
    font-size: .9rem;
}

.last-access{
    font-size: .75rem;
}

.last-message{
    color: #c3c1bf;
    font-size: .7rem;
}

.contact-me, .chat-contact{
    height: 60px;
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 20px;
    color: #8c98a5;
}

i{
    padding-left: 20px;
}

.btn{
    background-color: white;
    border: 1px solid #ced4da;
    text-align: center;
}

.btn .fa-magnifying-glass{
    padding: 0px 15px;
}

.contact-notification{
    height: 65px;
    background-color: #8edafc;
    color: #5d8ca2;
}

.circle{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    position: relative;
}

.circle .fa-bell-slash{
    top: 50%;
    left: 50%;
    transform: translate(-88%, -50%);
    position: absolute;
    
}

.contact-searchbar{
    background-color: #fafafa;
    height: 50px;
}

.contacts-list-section{
    height: calc(100% - 175px);
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li{
    height: 80px;
    padding: 15px;
    border-top: 1px solid #e1e1e1;
}

li:hover{
    background-color: #e9ebeb;
}

.chat{
    width: 65%;
    height: 100%;
}

.chat-contact{
    border-left: 1px solid #e1e1e1;
}

.chat-screen{
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 125px);
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;
    padding: 50px 70px;
}

.chat-message{
    height: 65px;
    background-color: #eaeaea;
    color: #5d6c73;
}

.fa-face-smile{
    padding-left: 0;
    padding-right: 15px;
}

.message{
    border-radius: 10px;
    padding: 8px 15px;
    color: black;
    margin-top: 20px;
    position: relative;
    width: 40%;
}

.button{
    background-color: none;
    position: absolute;
    top: 8px;
    right: 10px;
    color: #8a9b7c;
    display: none;

}

li.dropdown-item{
    height: 50px;
}

.message:hover + button{
    display: inline;
}

.my-message{
    background-color: #d5f9ba;
    align-self: flex-end;
    
}

.your-message{
    background-color: white;
}

.message-text{
    font-size: .9rem;
}

.timestamp{
    font-size: .6rem;
    color: #cacfdc;
    position: absolute;
    bottom: 5px;
    right: 5px;
}